{{> head}} {{> navbar}}
<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Página de About!</h1>
            <p>...</p>
            <p>
                <a class="btn btn-primary btn-lg" href="./home" role="button">Home</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="assets/img/minions.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}